/*  Set img to the screen corner  */
/*  <link rel="stylesheet" type="text/css" href="img.css"> */
/*  above from html file  */

body {background: url("soccer.jpg") no-repeat top left,
                  url("soccer.jpg") no-repeat top right,
                  url("soccer.jpg") no-repeat bottom left,
                  url("soccer.jpg") no-repeat bottom right;
                  background-color: #CCFFFF; }

h1 {text-align: center; color: #330066; font-size: 2em; font-style: italic; }
#pcent1 {text-align: center; color: #FF0000; font-size:24px; font-weight: bold;}
#span1 {background-color: #FFCC00; font-weight: bold;}
#pcent2 {text-align: center; letter-spacing: 5px;}
.pleft {text-align: left;}

#imgmargin {margin-right: 20px; float: left;}
